.a-container {
	margin-left: auto;
	margin-right: auto;
	width: 260px;
}

.a-container .span1, .a-container .span2, .a-container .span3, .a-container .span4, .a-container .span5, .a-container .span6, .a-container .span7, .a-container .span8, .a-container .span9, .a-container .span10, .a-container .span11, .a-container .span12 {
	display: block;
	float: left;
	margin: 10px 0px 10px 0px;
	width: 260px;
}

@media only screen and (min-width: 600px) {
	
	.a-container .span1, .a-container .span2, .a-container .span3, .a-container .span4, .a-container .span5, .a-container .span6, .a-container .span7, .a-container .span8, .a-container .span9, .a-container .span10, .a-container .span11, .a-container .span12 {
		margin: 10px 0px 10px 13px;
	}
	
	.a-container [class*="span"]:last-child {
		margin-right: 13px;
	}
	
	.a-container {
		width: 600px;
	}
	
	.a-container .span1 {
		width: 574px;
	}
	
	.a-container .span2 {
		width: 280.5px;
	}
	
	.a-container .span3 {
		width: 182.6666666666667px;
	}
	
	.a-container .span4 {
		width: 133.75px;
	}
	
	.a-container .span5 {
		width: 104.4px;
	}
	
	.a-container .span6 {
		width: 84.83333333333333px;
	}
	
	.a-container .span7 {
		width: 70.85714285714286px;
	}
	
	.a-container .span8 {
		width: 60.374px;
	}
	
	.a-container .span9 {
		width: 52.22222222222222px;
	}
	
	.a-container .span10 {
		width: 45.7px;
	}
	
	.a-container .span11 {
		width: 40.35363636363636px;
	}
	
	.a-container .span12 {
		width: 35.91666666666667px;
	}
	
	.a-container .offset2 {
		margin-left: 306.5px;
	}
	
	.a-container .offset3 {
		margin-left: 208.6666666666667px;
	}
	
	.a-container .offset4 {
		margin-left: 159.75px;
	}
	
	.a-container .offset5 {
		margin-left: 130.4px;
	}
	
	.a-container .offset6 {
		margin-left: 110.83333333333333px;
	}
	
	.a-container .offset7 {
		margin-left: 96.85714285714286px;
	}
	
	.a-container .offset8 {
		margin-left: 86.374px;
	}
	
	.a-container .offset9 {
		margin-left: 78.22222222222222px;
	}
	
	.a-container .offset10 {
		margin-left: 71.7px;
	}
	
	.a-container .offset11 {
		margin-left: 66.35363636363636px;
	}
	.a-container .offset12 {
		margin-left: 61.91666666666667px;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {

	.a-container {
		width: 960px;
	}
	
	.a-container .span1 {
		width: 934px;
	}
	
	.a-container .span2 {
		width: 460.5px;
	}
	
	.a-container .span3 {
		width: 302.6666666666667px;
	}
	
	.a-container .span4 {
		width: 223.75px;
	}
	
	.a-container .span5 {
		width: 176.4px;
	}
	
	.a-container .span6 {
		width: 144.8333333333333px;
	}
	
	.a-container .span7 {
		width: 122.2857142857143px;
	}
	
	.a-container .span8 {
		width: 105.374px;
	}
	
	.a-container .span9 {
		width: 92.22222222222222px;
	}
	
	.a-container .span10 {
		width: 81.7px;
	}
	
	.a-container .span11 {
		width: 73.09090909090909px;
	}
	
	.a-container .span12 {
		width: 65.91666666666667px;
	}
	
	.a-container .offset2 {
		margin-left: 486.5px;
	}
	
	.a-container .offset3 {
		margin-left: 328.6666666666667px;
	}
	
	.a-container .offset4 {
		margin-left: 249.75px;
	}
	
	.a-container .offset5 {
		margin-left: 202.4px;
	}
	
	.a-container .offset6 {
		margin-left: 170.8333333333333px;
	}
	
	.a-container .offset7 {
		margin-left: 148.2857142857143px;
	}
	
	.a-container .offset8 {
		margin-left: 131.374px;
	}
	
	.a-container .offset9 {
		margin-left: 118.22222222222222px;
	}
	
	.a-container .offset10 {
		margin-left: 107.7px;
	}
	
	.a-container .offset11 {
		margin-left: 99.09090909090909px;
	}
	.a-container .offset12 {
		margin-left: 91.91666666666667px;
	}
}


@media only screen and (min-width: 1200px) {
	
	.a-container {
		width: 1200px;
	}
	
	.a-container .span1 {
		width: 1174px;
	}
	
	.a-container .span2 {
		width: 580.5px;
	}
	
	.a-container .span3 {
		width: 382.6666666666667px;
	}
	
	.a-container .span4 {
		width: 283.75px;
	}
	
	.a-container .span5 {
		width: 224.4px;
	}
	
	.a-container .span6 {
		width: 184.8333333333333px;
	}
	
	.a-container .span7 {
		width: 156.5714285714286px;
	}
	
	.a-container .span8 {
		width: 135.374px;
	}
	
	.a-container .span9 {
		width: 118.8888888888889px;
	}
	
	.a-container .span10 {
		width: 105.7px;
	}
	
	.a-container .span11 {
		width: 94.90809090909091px;
	}
	
	.a-container .span12 {
		width: 85.91666666666667px;
	}

	.a-container .offset2 {
		margin-left: 606.5px;
	}
	//
	.a-container .offset3 {
		margin-left: 408.6666666666667px;
	}
	
	.a-container .offset4 {
		margin-left: 309.75px;
	}
	
	.a-container .offset5 {
		margin-left: 250.4px;
	}
	
	.a-container .offset6 {
		margin-left: 210.8333333333333px;
	}
	
	.a-container .offset7 {
		margin-left: 182.5714285714286px;
	}
	
	.a-container .offset8 {
		margin-left: 161.374px;
	}
	
	.a-container .offset9 {
		margin-left: 144.8888888888889px;
	}
	
	.a-container .offset10 {
		margin-left: 131.7px;
	}
	
	.a-container .offset11 {
		margin-left: 120.90809090909091px;
	}
	.a-container .offset12 {
		margin-left: 111.91666666666667px;
	}
}