.sidebar.turquoise li {
	background: #1abc9c;
}

.sidebar.turquoise li:hover {
	background: #16a085;
}

.sidebar.turquoise a {
	color: #fff;
}

.sidebar.emerald li {
	background: #2ecc71;
}

.sidebar.emerald li:hover {
	background: #27ae60;
}

.sidebar.emerald a {
	color: #fff;
}

.sidebar.sea li {
	background: #3498db;
}

.sidebar.sea li:hover {
	background: #2980b9;
}

.sidebar.sea a {
	color: #fff;
}

.sidebar.purple li {
	background: #9b59b6;
}

.sidebar.purple li:hover {
	background: #8e44ad;
}

.sidebar.purple a {
	color: #fff;
}

.sidebar.midnight li {
	background: #34495e;
}

.sidebar.midnight li:hover {
	background: #2c3e50;
}

.sidebar.midnight a {
	color: #fff;
}

.sidebar.sun li {
	background: #f1c40f;
}

.sidebar.sun li:hover {
	background: #f39c12;
}

.sidebar.carrot li {
	background: #e67e22;
}

.sidebar.carrot li:hover {
	background: #d35400;
}

.sidebar.carrot a {
	color: #fff;
}

.sidebar.red li {
	background: #e74c3c;
}

.sidebar.red li:hover {
	background: #c0392b;
}

.sidebar.red a {
	color: #fff;
}

.sidebar.concrete li {
	background: #95a5a6;
}

.sidebar.concrete li:hover {
	background: #7f8c8d;
}
